*.font: xft:Overpass Mono:size=10

Xft.dpi:                        96
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb

URxvt*termName:                 rxvt-256color
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           25
URxvt.perl-ext:	 		default,matcher
URxvt.url-launcher:             firefox
URxvt.matcher.button: 		1
